<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset='utf-8'>
        <link href='style.css' rel='stylesheet'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@0;1&display=swap" rel="stylesheet">
        <title>Nayza's URL shortener</title>
    </head>
    <body>
        <section>
            <div class='wrapper'>
                <h1 class='Title'>Project 1: URL shortener</h1>
                <input type='text' class='name' name='Input Link'>
                <a class='button'>Transform</a>
            </div>
        </section>
    </body>
</html>